.data {
    font-weight: bolder;
}

.leitura {
    margin-top: 10px;
}

.textN {
    font-family: 'Montserrat', sans-serif;
}

ion-thumbnail {
    margin: 0 auto;
}

img {
    height: 90%;
    border-radius: 10px;
}
